
  
  .grid-container {
    display: grid;
    height: 85vh;
    margin: 1rem;
    grid-template-columns: 20% 20% 20% 20% 20%;
    background-color:rgb(156, 101, 245);
    padding: 10px;
    border-radius: 40px;
    
  }

  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grid-item img {
    height: 6rem;
    width: 7rem;
    background-color: rgb(50, 186, 240);
    border: 5px solid #fff;
    padding: 25px;
    border-radius: 25px;
  }

  #counter {
    background-color: black;
    color: rgb(121, 217, 255);
    display: inline;
    padding: 10px;
  }

  #score {
    display: inline;
  
  }

  .white_content {
    display: none;
    position: absolute;
    top: 35%;
    left: 35%;
    width: 25%;
    height: 25%;
    padding: 16px;
    border: 20px solid rgb(243, 25, 196);
    background-color: white;
    color: rgb(94, 18, 218);
    border-radius: 20px;
    /* z-index: 1002; */
    /* overflow: auto; */
  }

  .leaderboard {
    display: none;
    position: absolute;
    top: 35%;
    left: 35%;
    width: 25%;
    height: 30%;
    padding: 16px;
    border: 20px solid rgb(243, 25, 196);
    background-color: white;
    color: rgb(94, 18, 218);
    border-radius: 20px;
    /* z-index: 1002; */
    /* overflow: auto; */
  }

  #close {
    position: absolute;
    right: 20px;
  }

  #hide {
    position: absolute;
    right: 20px;
  }

  #delete {
    position: absolute;
    right: 20px;
  }